/* sl = SignUp LogIn
   nav = navbar */

/* Sign_Up LogIn navbar css start */
#sl-nav {
  /* height: 120px; */
  color: white;
  display: flex;
  align-items: center;
  color: black;
  color: white;
  font-weight: bold;
}
.sl-nav-elem {
  display: flex;
  align-items: center;
  padding: 10px 60px;
  background-color: transparent;
}
.sl-body-head {
  font-size: "45px";
  margin-top: "50px";
  margin-bottom: "10px";
}
.sl-nav-elem > p {
  font-size: 20px;
  margin-left: 20px;
}
/* Sign_Up LogIn navbar css End */

/* Below navbar parts css Start */
#LoginSignup {
  font-weight: 600;
  /* font-family: "Roboto", sans-serif; */
}
#wrap-main-div {
  background: rgb(0, 0, 0, 0.5)
    url("https://assets.oyoroomscdn.com/cmsMedia/b3c9905c-31d1-4349-8594-c07deae6b36d.jpg");
  background-size: cover;
  min-height: 100vh;
  color: white;
  background-blend-mode: darken;
}
.sl-main-div {
  display: flex;
  justify-content: space-evenly;
}
.sl-left-div {
  width: 500px;
  padding: 0px 80px;
}
#sl-right-div {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 249, 249);
  border-radius: 5px;
  /* width: 30%; */
}
.s-red-div {
  background-color: #da1b42;
  color: white;
  padding: 10px 0 10px 20px;
  font-weight: bold;
}
/* form css  */
#sl-form-div {
  color: black;
  display: flex;
  flex-direction: column;
  width: 430px;
  /* height: 400px; */
  padding: 20px;
  /* padding-bottom: 52px; */
  /* border: 2px solid red; */
  /* border-radius: 4px; */
}
/* Below navbar parts css End */
#SignupButton:hover {
  background-color: #1ab64f;
  color: white;
  border-radius: unset;
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  #wrap-main-div {
    /* height: auto; */
    padding: 20px;
  }
  .sl-nav-elem {
    padding: 0px;
  }
  .sl-body-head {
    font-size: "22px";
    margin-top: "20px";
    margin-bottom: "4px";
  }
  .sl-main-div {
    flex-direction: column;
    align-items: center;
  }
  .sl-left-div {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .sl-left-div h2 {
    font-size: 30px;
    margin-top: 20px;
  }
  .sl-left-div span {
    display: block;
    margin-top: 10px;
  }
  #sl-right-div {
    width: 100%;
    margin-top: 20px;
  }
  #sl-form-div {
    width: 100%;
    padding: 20px;
  }
  #SignupButton {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sl-left-div {
    width: 400px;
    padding: 40px;
  }
  #sl-form-div {
    width: 350px;
  }
}
