/* NAVBAR CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 0px;
  /* border:5px solid red; */
}
.navbar-logo {
  padding: 20px;
}
.abk-leftnav {
  padding: 0px 0px 0px 80px;
}
.abk-rightnav {
  display: flex;
  align-items: center;
  /* padding:0px 0px 90px 90px; */
}
.abk-rightnav > * {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.abk-rightnav div:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
#loginBox {
  width: 200px;
  height: 60px;
}
.abk-rightnav div:nth-of-type(4) p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.4px;
  color: rgb(20, 20, 20);
}
.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  border-bottom: none;
}

/* NAVBAR2 */
.down {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 30px;
  height: 42px;
  cursor: pointer;
}
.down:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.down:hover.down div {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.down p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  /* border: 1px solid red; */
}
.down > div {
  /* border: 1px solid red; */
  margin-left: 8px;
  margin-right: -10px;
}
/* .down > img {
  border: 1px solid red;
  margin-left: 8px;
  margin-right: 5px;
} */

.locationsNav {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  overflow: auto;
}

.locations {
  display: flex;
  align-items: center;
  /* background: #f2f2f2; */
  padding: 0px 30px;
  width: 100%;
  background-color: aliceblue;
  color: rgb(-8 0 0 / 0.7);
}
.locations div:nth-of-type(12) {
  display: flex;
}
.locations div:nth-of-type(12) p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.005em;
  color: #ee2e24;
}
.locations div:nth-of-type(12) img {
  object-fit: contain;
  margin-left: 5px;
}
#dropdown {
  position: absolute;
  /* top: 88px; */
  padding: 10px 0;
  box-shadow:
    0 3px 6px 0 rgba(0, 0, 0, 0.08),
    0 6px 20px 0 rgba(0, 0, 0, 0.08);
  z-index: 60;
  background-color: #ffffff;
}
p {
  margin-bottom: 0px !important;
}
#dropdown p {
  margin: 15px;
  cursor: pointer;
}
/* #dropdown p:nth-of-type(1) {
  font-weight: bold;
} */
#dropdown p:hover {
  color: red;
  transition: all 0.15s;
}
.belowNav {
  padding: 30px;
}
.belowNav img {
  width: 100%;
}
#profileDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid rgb(243, 243, 243);
  top: 55px;
  /* right: 30px; */
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  z-index: 100;
}
#profileDropdown > a {
  width: 180px;
  padding: 12px;
  border-top: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  color: rgb(29, 29, 29);
}

/* Mobile Responsiveness */
@media (max-width: 1060px) {
  .nav-becomeMember {
    display: none;
  }
}
@media (max-width: 550px) {
  .nav-listProperty {
    display: none;
  }
}
@media (max-width: 768px) {
  .mainNav {
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding: 5px 20px;
  }

  .navbar-logo {
    padding: 10px;
  }

  .abk-leftnav {
    padding: 0;
  }

  .abk-rightnav {
    /* flex-direction: row; */
    align-items: center;
    width: 100%;
    justify-content: end;
  }

  .nav-becomeMember {
    display: none;
  }
  .nav-language {
    display: none;
  }

  .abk-rightnav > * {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }

  .abk-rightnav > *:last-child {
    border-right: none;
  }

  .abk-rightnav div:nth-of-type(4) {
    flex-direction: row;
    align-items: center;
  }

  #loginBox {
    width: auto;
    height: 40px;
    padding: 5px 10px;
  }

  .abk-rightnav div:nth-of-type(4) p {
    margin-left: 5px;
    font-size: 12px;
  }

  .locations div {
    margin: 5px;
  }

  .more-cities-container {
    position: relative;
  }

  .more-cities-btn {
    cursor: pointer;
  }

  .more-cities-btn .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .more-cities-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    min-width: 200px;
    padding: 10px;
  }

  .dropdown-city {
    margin-bottom: 10px;
  }

  .dropdown-city:last-child {
    margin-bottom: 0;
  }

  .belowNav {
    padding: 10px;
  }

  .belowNav img {
    width: 100%;
    height: auto;
  }

  #profileDropdown {
    width: 200px;
    position: absolute;
    top: 45px;
    right: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(243, 243, 243);
  }

  #profileDropdown > a {
    width: 100%;
    padding: 12px;
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }
}
